<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Currículos - SeuJOB</title>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>
<h3>Currículos</h3>
<div class="text-center">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Usuário</th>
            <th scope="col">Data de criação</th>
            <th scope="col">Data de atualização</th>
            <th scope="col">Ações</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="resume: ${resumes}">
            <td th:text="${resume?.user?.name}"></td>
            <td th:text="${resume.creationDate}"></td>
            <td th:text="${resume.updateDate}"></td>
            <td>
                <a class="btn btn-secondary" th:href="@{'/resume/form/' + ${resume.id}}" role="button"><i class="ph ph-pencil"></i></a>
                <a class="btn btn-danger" th:href="@{'/resume/delete/' + ${resume.id}}" role="button"><i class="ph ph-trash"></i></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>