<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>SeuJOB</title>
</head>
<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <section id="main-page">
        <div class="main-page-info">
            <h1 class="main-page-title">Seja bem-vindo ao</h1>
            <img th:src="@{images/seujob-horizon.png}" alt="">
        </div>
        <div class="main-page-info">
            <p>Aqui te ajudamos a encontrar seu novo JOB.</p>
        </div>

    </section>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>